<!-- <ion-list no-padding no-margin>
    <ion-list-header color="dark">
      <ion-label class="fw700">Choose</ion-label>
    </ion-list-header>

    <ion-item color="primary" class="text-10" (click)="messages()">
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>New Offer 25% OFF</ion-label>
    </ion-item>

    <ion-item color="light" class="text-10" (click)="messages()">
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>New Offer 15% OFF by month!</ion-label>
    </ion-item>

    <ion-item color="light" class="text-10" (click)="messages()">
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>New Offer 10% OFF by month!</ion-label>
    </ion-item>

    <ion-item color="primary" class="text-10" (click)="messages()">
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>New Offer 35% OFF</ion-label>
    </ion-item>
</ion-list> -->

<ion-item>
  <!-- <div style="background-color: black"> -->
    <!-- <ion-scroll scrollX style="height:100px;"> -->
    <div class="scroll-item">
      <ion-col col-33>
        <div class="card card-1" (click)="openGallery()">
          <!-- <ion-icon name="mail-open" color="primary"></ion-icon> -->
          <img src="assets/img/folder.png">
          <p style="font-size: 9px;width: 50px !important; color:white">Gallery</p>
        </div>
        <div class="card card-1" (click)="takePicture()">
          <img src="assets/img/camera.png">
          <p style="font-size: 9px;width: 50px !important; color:white">Camera</p>
        </div>
        <div class="card card-1" (click)="ondemand_details(post.product_final_categories_id)">
          <img src="assets/img/document.png">
          <p style="font-size: 9px;width: 50px !important; color:white; padding-top: 10px !important;">Documents</p>
        </div>
      </ion-col>
    </div>
    <!-- </ion-scroll> -->
  <!-- </div> -->
  <img src="{{base64Image}}">
</ion-item>

