
<ion-toolbar>
    <ion-avatar slot="start">
      <img src="https://i.pravatar.cc/300">
    </ion-avatar>
    <ion-label>
      <b> Manjunath K S</b>
    </ion-label>
    <ion-buttons slot="end">
        <ion-button (click)="logout()" >
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
          </ion-button>
        <ion-button >
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar placeholder="People, groups & messages" showCancelButton="focus" animated></ion-searchbar>
    </ion-toolbar>